

.header {
  text-align: center;
  margin-bottom: 80px;
}

nav {
  width: 100%;
  position: fixed;
}


.main {
  color: red;
}

.links {
  text-align: center;
  background: gray;
}

#profile-pic {
  height: auto;
  width: 400px;
  margin-top: 50px;
}

#aboutme {
  background: midnightblue;
  color: white;
  margin-top: 200px;
}

#aboutme h3 {
  font-family: 'Permanent Marker', cursive;
}

#aboutme p {
  font-family: 'Poiret One', cursive;
  font-size: 22px;
}

#projects {
  background: dodgerblue;
  text-align: center;
}

#projects-title {
  font-family: 'Poiret One', cursive;
  font-style: bold;
}

#project-cards {
  margin-top: 30px;
}

/*about me page*/
.content {
  text-align: center;
}



#logo {
  font-family: 'Poiret One', cursive;
  font-size: 50px;
}
